*{
	margin: 0;
	padding: 0;
}
ol,ul{
	list-style: none;
}
a{
	color: #666;
	text-decoration:none;
}
.left{
	float: left;
}
.right{
	float: right;
}
#nav{
    overflow: hidden;
    height: 700px;
    background-color: aliceblue;
    text-align: left;
    float: left;
}
.column {
    float: left;
    width: 33.33%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
#nav ul{
    width: 1182px;
    margin: 10px auto;
}
#navr li{
	width: 270px;
	border-bottom: 1px solid #dfdfdf;
	float: left;
	margin-left: 20px;
	transition: all 0.3s;
}
#nav li:hover{
	border-bottom: 5px solid #4f8590;
	transform:translateY(-10px);
}
#nav li img{
	width: 270px;

}

#nav li span{
	width: 13px;
	height: 13px;
	display: inline-block;
	background:url("../img/icons-1.png") no-repeat -177px -1014px;
	margin-left: 5px;
}
