.sbg {
	border: 3px solid #eee;
	width: 300px;
	height: 300px;
	background-color: #eee;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 20px;
	float: left;
	margin-left: 5rem;
	margin-top: 5rem;
}
.sbg>div {
	background-color: #000;
	border-radius: 50%;
	box-sizing: border-box;
}
.s3 {
	display: flex;
}
 
.s3>div {
	width: 80px;
	height: 80px;
}
 
.s3>div:nth-child(1) {
	justify-content: space-between;
	align-self: flex-start;
}
 
.s3>div:nth-child(2) {
	justify-content: center;
	align-self: center;
}
 
.s3>div:nth-child(3) {
	justify-content: center;
	align-self: flex-end;
}
.s5 {
	display: flex;
	justify-content: space-between;
}
 
.s5 div {
	width: 80px;
	height: 80px;
	background-color: #000;
	border-radius: 50%;
}
 
#s5-c {
	display: flex;
	align-items: center;
}
 
#s5-c>div {
	background-color: #000;
}
 
#s5-l {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
 
#s5-r {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
 